/* line 1, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
body {
  font-style: "Poppins", sans-serif;
}

/* line 4, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
body {
  font-family: 'Poppins', sans-serif;
}

/* line 8, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 80px;
  color: black;
}

/* line 14, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

/* line 19, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
h5 {
  margin-bottom: 0px;
}

/* line 23, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
a:hover {
  text-decoration: none;
}

/* line 27, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
a i {
  font-size: 22px;
  color: black;
}

/* line 31, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.topmargin-xs {
  margin-top: 15px;
}

/* line 32, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.topmargin-sm {
  margin-top: 30px;
}

/* line 33, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.topmargin-lg {
  margin-top: 60px;
}

/* line 35, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
section {
  padding: 120px 0;
}

/* line 39, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.btn {
  font-size: 14px;
  padding: 15px 26px;
  min-width: 160px;
  border-radius: 2px;
  display: inline-block;
}

/* line 47, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.btn-dark {
  background-color: black;
  color: white;
  border: 2px solid black;
}

/* line 53, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.btn-center {
  text-align: center;
}

/* line 57, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.bg-dark {
  background-color: black !important;
}

/* line 60, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.form-control {
  font-size: 14px;
  border: 1px solid #4a4bc7;
  padding: 15px;
  border-radius: 2px;
  height: auto;
}

/* line 68, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.form-control:focus {
  border: 1px solid #00ae91;
  outline: none;
  box-shadow: none;
}

/* line 74, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.divider {
  border-bottom: 2px solid #C0C0C0;
}

/* line 78, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.navbar {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-height: 100px;
}

/* line 84, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.nav-link {
  color: #4a4bc7;
}

/* line 85, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.nav-link:hover {
  color: #00ae91;
}

/* line 87, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.logo {
  min-width: 200px;
  max-width: 250px;
}

/* line 92, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.navbar-toggler {
  font-size: 30px;
}

/* line 93, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.navbar-toggler:focus {
  outline: none;
}

/* line 95, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
#slide {
  background-image: url(../media/1-.jpg);
  background-size: cover;
  padding-top: 100px;
  min-height: 700px;
  color: #ffffff;
}

/* line 104, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.contentCenter {
  max-width: 800px;
  margin: 0 auto 0 auto;
  text-align: center;
}

/* line 110, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  border-radius: 0px;
}

/* line 117, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}

/* line 125, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.08;
  transition: all 0,8s;
}

/* line 131, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 137, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.portfolio-details h2 {
  margin-bottom: 0px;
}

/* line 142, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.portfolio-details a h2, .portfolio-details a p {
  color: #ffffff;
}

/* line 147, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.servicios-container {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.08;
  transition: all 0,8s;
}

/* line 153, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.servicios-container:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 161, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.member-container {
  position: relative;
  margin: 10px 0;
}

/* line 166, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.member-details {
  position: absolute;
  color: #4a4bc7;
  bottom: 0px;
  left: 20px;
}

/* line 173, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.member-details-spam {
  font-size: 14px;
}

/* line 177, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.member-details i {
  padding: 0 5px;
}

/* line 181, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.servicios-container {
  margin: 15px 0;
  color: #00ae91;
}

/* line 186, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.plans {
  padding: 50px 80px;
  border-radius: 2px;
  min-width: 450px;
}

/* line 192, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.plan-light {
  background-color: white;
  border: 2px solid black;
}

/* line 198, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.carousel {
  min-height: 240px;
  padding: 40px;
  border-radius: 2px;
  text-align: center;
}

/* line 205, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.carousel p {
  font-size: 26px;
  font-weight: 400;
  color: black;
}

/* line 215, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.carousel-indicatiors li {
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin: 0 8px;
}

/* line 223, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.carousel-control-prev, .carousel-control-next {
  color: white;
  opacity: 1;
  width: 5%;
}

/* line 229, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

/* line 235, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.control-button {
  background-color: black;
  opacity: 1;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 20px;
}

/* line 245, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.rating i {
  color: white;
  font-size: 26px;
}

/* line 250, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.testimonio-user {
  max-width: 240px;
  margin: 0 auto;
  text-align: left;
}

/* line 256, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.testimonio-user h6 {
  margin-bottom: 0px;
}

/* line 260, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.testimonio-user img {
  max-width: 80px;
  text-align: center;
}

/* line 264, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
.list-inline li {
  color: #cda434;
  font-size: 16px;
}

/* line 269, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
#footer {
  padding-right: 80px 0;
  text-align: center;
  color: white;
}

/* line 275, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
#footer a {
  color: white;
}

/* line 278, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
#footer a:hover {
  color: white;
}

/* line 282, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
#footer .list-inline .list-inline-item {
  padding: 10px 15px;
}

@media (max-width: 575.98px) {
  /* line 286, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
  h1 {
    font-size: 40px;
    line-height: normal;
  }
  /* line 287, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
  .plans {
    min-width: unset;
    padding: 40px;
  }
  /* line 288, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
  .servicios-container h2 {
    font-size: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 292, ../../../../../../../../../../../../../Users/miakrasnopol/Desktop/probranding - casifinal/sass/_main.scss */
  plans {
    min-width: unset;
    padding: 40px 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */